
.page-news-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  .empty {
    flex: 1;
    align-self: center;
    color: #ddd;
    font-size: 32PX;
    text-align: center;
  }
  .news {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px;
    .title {
      color: #000;
      font-weight: bold;
      line-height: 1.6;
      word-break: break-all;
    }
    .desc {
      margin-top: 24px;
      color: #ddd;
      font-size: 24px;
    }
    .content {
      flex: 1;
      margin-top: 24px;
      word-break: break-all;
    }
  }
}
